body {
  background: #d0f0c0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}

body.winner {
  background: url("https://media1.tenor.com/images/d01416b14f0392b752fa6d93cb62a0e8/tenor.gif");
  background-repeat: no-repeat;
  background-size: 200px; 
  background-position: 50px 190px;
}

#message {
  font-size: 20px;
  text-align: center;
  padding: 50px;
}

#grid {
  padding: 30px;
  border: 3px solid #afd275;
  background: #afd275;
  margin-bottom: 20px;
}


button {
  height: 70px;
  width: 80px; 
  background: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  position: absolute; 
  bottom: 80px; 
  right: 680x;
  left: 680px;
}

button.hidden {
  display: none;
}

td {
  border: 2px solid #333;
  height: 100px;
  width: 100px; 
  text-align: center; 
  vertical-align: middle; 
  font-family: "Arial", cursive, sans-serif; 
  font-size: 70px; 
  cursor: pointer;
}

table {
  border-collapse: collapse;
  position: absolute;
  left: 50%; 
  margin-left: -155px; 
  top: 30%; 
}

table tr:first-child td {
  border-top:0;
}

table tr:last-child td {
  border-bottom:0;
}

table tr td:first-child { 
  border-left:0;
}

table tr td:last-child {
  border-right:0;
}

